# ETL Project- Food Insecurity Analysis in the US. 

Gather datasets from reputible sources and proceed to extract data into dataframes for inquiry using Pandas. Using Pandas, transform data by cleaning dataframes, renaming columns, running necessary functions for concise analysis, and dropping unnessecary columns or rows. Use PgAdmin4 to create tables for our final database. Lastly, load the final tables into a database that can be used for further study using PostgresSQL via PgAdmin4.

## Definitions:
#### Food Insecurity
Food insecurity refers to USDA’s measure of lack of access, at times, to enough food for an active, healthy life for all household members and limited or uncertain availability of nutritionally adequate foods. Food-insecure households are not necessarily food insecure all the time. Food insecurity may reflect a household’s need to make trade-offs between important basic needs, such as housing or medical bills, and purchasing nutritionally adequate foods.


#### Food Security
Access by all people at all times to enough food for an active, healthy life—is one requirement for a healthy, well-nourished population.

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from pgadmin_pw import pw
from config import API_key
import numpy as np
import requests
import json

## Extract CSVs into DataFrames
 * Extract map the meal gap dataset for states into a dataframe. Data gathered from the research team
    at Feeding America who conduct an annual study of Food Insecurity in the United States at the local
    level in an effort to solve hunger in the US.
    
    
 * Extract the USDA food access dataset into a dataframe. Data is gathered by the USDA ERS - Unites States
    Department of Agriculture Ecomomic Research Service- ERS plays a leading role in Federal research on food 
    security and food security measurement in U.S. households and communities and provides data access and 
    technical support to social science scholars to facilitate their research on food security.

In [2]:
# read-in map the meal gap (feeding america (FA)) county dataset and view
mmg_county_file = "../potential_datasets/MMG2020_2018_county_data.csv"
mmg_county_df = pd.read_csv(mmg_county_file)
mmg_county_df.head()

,FIPS,State,"County, State",2018 Food Insecurity Rate,# of Food Insecure Persons in 2018,Low Threshold in state,Low Threshold Type,High Threshold in state,High Threshold Type,% FI ≤ Low Threshold,% FI Btwn Thresholds,% FI > High Threshold,2018 Child food insecurity rate,# of Food Insecure Children in 2018,% food insecure children in HH w/ HH incomes below 185 FPL in 2018,% food insecure children in HH w/ HH incomes above 185 FPL in 2018,2018 Cost Per Meal,2018 Weighted Annual Food Budget Shortfall
0,1001,AL,"Autauga County, Alabama",15.60%,"8,620",130%,SNAP,185%,Other Nutrition Program,46.20%,13.20%,40.50%,21.40%,"2,870",81%,19%,$3.33,"$4,857,000.00"
1,1003,AL,"Baldwin County, Alabama",12.90%,"26,860",130%,SNAP,185%,Other Nutrition Program,37.10%,18.70%,44.20%,16.90%,"7,710",84%,16%,$3.58,"$16,274,000.00"
2,1005,AL,"Barbour County, Alabama",21.90%,"5,650",130%,SNAP,185%,Other Nutrition Program,65.10%,10.80%,24.10%,32.00%,"1,740",94%,6%,$3.12,"$2,988,000.00"
3,1007,AL,"Bibb County, Alabama",15.10%,"3,400",130%,SNAP,185%,Other Nutrition Program,46.90%,21.20%,31.90%,20.90%,970,100%,0%,$2.94,"$1,690,000.00"
4,1009,AL,"Blount County, Alabama",13.60%,"7,810",130%,SNAP,185%,Other Nutrition Program,42.90%,27.90%,29.20%,19.10%,"2,580",100%,0%,$3.14,"$4,149,000.00"

In [3]:
# read-in FA state dataset and view
mmg_state_file = "../potential_datasets/MMG2020_2018_state_data.csv"
mmg_state_df = pd.read_csv(mmg_state_file)
mmg_state_df.tail()

,FIPS,State Name,State,2018 Food Insecurity Rate,# of Food Insecure Persons in 2018,Low Threshold in state,Low Threshold Type,High Threshold in state,High Threshold Type,% FI ≤ Low Threshold,% FI Btwn Thresholds,% FI > High Threshold,2018 Child Food Insecurity Rate,# of Food Insecure Children in 2018,% food insecure Children in HH w/HH Incomes Below 185 FPL in 2016,% food insecure Children in HH w/HH Incomes Above 185 FPL in 2016,2018 Cost Per Meal,2017 Weighted Annual Food Budget Shortfall
46,51,Virginia,VA,9.90%,"842,870",130%,SNAP,185%,Other Nutrition Program,47.10%,13.00%,39.90%,12.50%,"233,530",73%,27%,$3.10,"$442,908,000"
47,53,Washington,WA,10.70%,"804,080",200%,"SNAP, Other Nutrition Programs",200%,"SNAP, Other Nutrition Programs",65.50%,NaN,34.50%,14.70%,"244,480",67%,33%,$3.22,"$438,026,000"
48,54,West Virginia,WV,13.90%,"250,600",200%,"SNAP, Other Nutrition Programs",200%,"SNAP, Other Nutrition Programs",69.30%,NaN,30.70%,20.30%,"73,770",92%,8%,$2.70,"$114,692,000"
49,55,Wisconsin,WI,8.90%,"515,930",200%,"SNAP, Other Nutrition Programs",200%,"SNAP, Other Nutrition Programs",67.40%,NaN,32.60%,14.10%,"179,180",79%,21%,$2.84,"$248,085,000"
50,56,Wyoming,WY,12.20%,"70,640",130%,SNAP,185%,Other Nutrition Program,41.70%,14.40%,43.80%,15.90%,"21,160",70%,30%,$3.12,"$37,306,000"

In [3]:
# read-in USDA general dataset and view
usda_file = "../potential_datasets/foodsecurity_datafile_USDA.csv"
general_usda_df = pd.read_csv(usda_file)
general_usda_df.head(18)

,Year,Category,SubCategory,SubSubCategory,Total,Food secure-1000,Food secure-Percent,Food insecure-1000,Food insecure-Percent,Low food security-1000,Low food security-Percent,Very low food security-1000,Very low food security-Percent
0,2001,All households,NaN,NaN,107824,96303,89.3,11521,10.7,8010,7.4,3511,3.3
1,2001,Household composition,With children < 18 yrs,NaN,38330,32141,83.9,6189,16.1,4744,12.4,1445,3.8
2,2001,Household composition,With children < 18 yrs,With children < 6 yrs,16858,13920,82.6,2938,17.4,2304,13.7,634,3.8
3,2001,Household composition,With children < 18 yrs,Married-couple families,26182,23389,89.3,2793,10.7,2247,8.6,546,2.1
4,2001,Household composition,With children < 18 yrs,"Female head, no spouse",9080,6185,68.1,2895,31.9,2101,23.1,794,8.7
5,2001,Household composition,With children < 18 yrs,"Male head, no spouse",2389,2009,84.1,380,15.9,298,12.5,82,3.4
6,2001,Household composition,With children < 18 yrs,Other household with child,678,555,81.9,123,18.1,99,14.6,24,3.5
7,2001,Household composition,With no children < 18 yrs,NaN,69495,64163,92.3,5332,7.7,3266,4.7,2066,3.0
8,2001,Household composition,With no children < 18 yrs,More than one adult,40791,38328,94.0,2463,6.0,1595,3.9,868,2.1
9,2001,Household composition,With no children < 18 yrs,Women living alone,16513,14915,90.3,1598,9.7,952,5.8,646,3.9
10,2001,Household composition,With no children < 18 yrs,Men living alone,12192,10922,89.6,1270,10.4,718,5.9,552,4.5
11,2001,Household composition,With elderly,NaN,24836,23458,94.5,1378,5.5,1002,4.0,376,1.5
12,2001,Household composition,With elderly,Elderly living alone,10390,9758,93.9,632,6.1,426,4.1,206,2.0
13,2001,Race/ethnicity of households,White non-Hispanic,NaN,80337,74230,92.4,6107,7.6,4072,5.1,2035,2.5
14,2001,Race/ethnicity of households,Black non-Hispanic,NaN,13134,10331,78.7,2803,21.3,1986,15.1,817,6.2
15,2001,Race/ethnicity of households,Hispanic,NaN,9864,7717,78.2,2147,21.8,1613,16.4,534,5.4
16,2001,Race/ethnicity of households,Other,NaN,4489,4026,89.7,463,10.3,339,7.6,124,2.8
17,2001,Household income-to-poverty ratio,Under 1.00,NaN,11693,7426,63.5,4267,36.5,2763,23.6,1504,12.9

In [4]:
# read-in USDA state year block dataset and view
usda_state_file = "../potential_datasets/foodsecurity_state_data_USDA.csv"
state_usda_df = pd.read_csv(usda_state_file)
state_usda_df.head()

,year,state,number of households,number interviewed,Food insecurity,margin of error - fi,very low food security,margin of error - vlfs
0,2001-2003,U.S. total,109546000,144686,11.0,0.23,3.4,0.11
1,2001-2003,AK,232000,1967,11.5,1.67,4.1,0.79
2,2001-2003,AL,1805000,2161,12.5,1.23,3.2,0.68
3,2001-2003,AR,1062000,1730,15.5,1.75,4.7,1.21
4,2001-2003,AZ,1958000,1932,12.3,1.36,3.8,0.65

In [5]:
mmg_county_df = mmg_county_df.rename(columns={"County, State": "x",
                                        })

In [6]:
# mmg_county_df['county', 'state'] = mmg_county_df.str.split(",", expand=True)
# mmg_county_df.head()

# for index,row in mmg_county_df.iterrows():
#     county_state_row= str(row["County, State"])
#     county_state_split=county_state_row.split(",")
#     county_state=row["County, State"].replace(" County","")
#     row["County, State"]=county_state
    
# mmg_county_df["x"]=mmg_county_df["x"].str.replace(" County","")
mmg_county_df[['county', 'state']] = mmg_county_df.x.str.split(",", expand=True)
mmg_county_df.head()

,FIPS,State,x,2018 Food Insecurity Rate,# of Food Insecure Persons in 2018,Low Threshold in state,Low Threshold Type,High Threshold in state,High Threshold Type,% FI ≤ Low Threshold,% FI Btwn Thresholds,% FI > High Threshold,2018 Child food insecurity rate,# of Food Insecure Children in 2018,% food insecure children in HH w/ HH incomes below 185 FPL in 2018,% food insecure children in HH w/ HH incomes above 185 FPL in 2018,2018 Cost Per Meal,2018 Weighted Annual Food Budget Shortfall,county,state
0,1001,AL,"Autauga County, Alabama",15.60%,"8,620",130%,SNAP,185%,Other Nutrition Program,46.20%,13.20%,40.50%,21.40%,"2,870",81%,19%,$3.33,"$4,857,000.00",Autauga County,Alabama
1,1003,AL,"Baldwin County, Alabama",12.90%,"26,860",130%,SNAP,185%,Other Nutrition Program,37.10%,18.70%,44.20%,16.90%,"7,710",84%,16%,$3.58,"$16,274,000.00",Baldwin County,Alabama
2,1005,AL,"Barbour County, Alabama",21.90%,"5,650",130%,SNAP,185%,Other Nutrition Program,65.10%,10.80%,24.10%,32.00%,"1,740",94%,6%,$3.12,"$2,988,000.00",Barbour County,Alabama
3,1007,AL,"Bibb County, Alabama",15.10%,"3,400",130%,SNAP,185%,Other Nutrition Program,46.90%,21.20%,31.90%,20.90%,970,100%,0%,$2.94,"$1,690,000.00",Bibb County,Alabama
4,1009,AL,"Blount County, Alabama",13.60%,"7,810",130%,SNAP,185%,Other Nutrition Program,42.90%,27.90%,29.20%,19.10%,"2,580",100%,0%,$3.14,"$4,149,000.00",Blount County,Alabama

In [69]:
# df = pd.read_csv('https://query.data.world/s/j6hcrdzrrsl7pspzxikqinyvass4wv', encoding= 'unicode_escape')
df = pd.read_csv("../potential_datasets/2015_Gaz_counties_national.csv", encoding = 'unicode_escape')

In [70]:
df = df.rename(columns={"NAME": "county", "USPS": 'State', "INTPTLAT": 'lat'})
df.head()

,State,GEOID,ANSICODE,county,ALAND,AWATER,ALAND_SQMI,AWATER_SQMI,lat,a
0,AL,1001,161526,Autauga County,1.539590e+09,25769317,594.439,9.950,32.532237,-86.646440
1,AL,1003,161527,Baldwin County,4.117584e+09,1133129224,1589.808,437.504,30.659218,-87.746067
2,AL,1005,161528,Barbour County,2.291821e+09,50864677,884.877,19.639,31.870253,-85.405104
3,AL,1007,161529,Bibb County,1.612482e+09,9287974,622.583,3.586,33.015893,-87.127148
4,AL,1009,161530,Blount County,1.670042e+09,15077458,644.807,5.821,33.977358,-86.566440

In [71]:
merged_df = df.merge(mmg_county_df, how='outer')
merged_df.head()

,State,GEOID,ANSICODE,county,ALAND,AWATER,ALAND_SQMI,AWATER_SQMI,lat,a,...,% FI ≤ Low Threshold,% FI Btwn Thresholds,% FI > High Threshold,2018 Child food insecurity rate,# of Food Insecure Children in 2018,% food insecure children in HH w/ HH incomes below 185 FPL in 2018,% food insecure children in HH w/ HH incomes above 185 FPL in 2018,2018 Cost Per Meal,2018 Weighted Annual Food Budget Shortfall,state
0,AL,1001.0,161526.0,Autauga County,1.539590e+09,2.576932e+07,594.439,9.950,32.532237,-86.646440,...,46.20%,13.20%,40.50%,21.40%,"2,870",81%,19%,$3.33,"$4,857,000.00",Alabama
1,AL,1003.0,161527.0,Baldwin County,4.117584e+09,1.133129e+09,1589.808,437.504,30.659218,-87.746067,...,37.10%,18.70%,44.20%,16.90%,"7,710",84%,16%,$3.58,"$16,274,000.00",Alabama
2,AL,1005.0,161528.0,Barbour County,2.291821e+09,5.086468e+07,884.877,19.639,31.870253,-85.405104,...,65.10%,10.80%,24.10%,32.00%,"1,740",94%,6%,$3.12,"$2,988,000.00",Alabama
3,AL,1007.0,161529.0,Bibb County,1.612482e+09,9.287974e+06,622.583,3.586,33.015893,-87.127148,...,46.90%,21.20%,31.90%,20.90%,970,100%,0%,$2.94,"$1,690,000.00",Alabama
4,AL,1009.0,161530.0,Blount County,1.670042e+09,1.507746e+07,644.807,5.821,33.977358,-86.566440,...,42.90%,27.90%,29.20%,19.10%,"2,580",100%,0%,$3.14,"$4,149,000.00",Alabama

In [72]:
final_county = merged_df[['county','lat', 'a']]
final_county.head()

           county        lat          a
0  Autauga County  32.532237 -86.646440
1  Baldwin County  30.659218 -87.746067
2  Barbour County  31.870253 -85.405104
3     Bibb County  33.015893 -87.127148
4   Blount County  33.977358 -86.566440

In [75]:
new_df = merged_df[['State', 'state','county', 'lat', 'a', '2018 Food Insecurity Rate', '# of Food Insecure Persons in 2018',
                   '2018 Child food insecurity rate', '# of Food Insecure Children in 2018', '% food insecure children in HH w/ HH incomes below 185 FPL in 2018',
                    '% food insecure children in HH w/ HH incomes above 185 FPL in 2018', '2018 Cost Per Meal', '2018 Weighted Annual Food Budget Shortfall']]

In [76]:
new_df.head()

,State,state,county,lat,a,2018 Food Insecurity Rate,# of Food Insecure Persons in 2018,2018 Child food insecurity rate,# of Food Insecure Children in 2018,% food insecure children in HH w/ HH incomes below 185 FPL in 2018,% food insecure children in HH w/ HH incomes above 185 FPL in 2018,2018 Cost Per Meal,2018 Weighted Annual Food Budget Shortfall
0,AL,Alabama,Autauga County,32.532237,-86.646440,15.60%,"8,620",21.40%,"2,870",81%,19%,$3.33,"$4,857,000.00"
1,AL,Alabama,Baldwin County,30.659218,-87.746067,12.90%,"26,860",16.90%,"7,710",84%,16%,$3.58,"$16,274,000.00"
2,AL,Alabama,Barbour County,31.870253,-85.405104,21.90%,"5,650",32.00%,"1,740",94%,6%,$3.12,"$2,988,000.00"
3,AL,Alabama,Bibb County,33.015893,-87.127148,15.10%,"3,400",20.90%,970,100%,0%,$2.94,"$1,690,000.00"
4,AL,Alabama,Blount County,33.977358,-86.566440,13.60%,"7,810",19.10%,"2,580",100%,0%,$3.14,"$4,149,000.00"

In [33]:
merged_df.head()

,State,GEOID,ANSICODE,county,ALAND,AWATER,ALAND_SQMI,AWATER_SQMI,INTPTLAT,INTPTLONG,...,% FI ≤ Low Threshold,% FI Btwn Thresholds,% FI > High Threshold,2018 Child food insecurity rate,# of Food Insecure Children in 2018,% food insecure children in HH w/ HH incomes below 185 FPL in 2018,% food insecure children in HH w/ HH incomes above 185 FPL in 2018,2018 Cost Per Meal,2018 Weighted Annual Food Budget Shortfall,state
0,AL,1001.0,161526.0,Autauga County,1.539590e+09,2.576932e+07,594.439,9.950,32.532237,-86.646440,...,46.20%,13.20%,40.50%,21.40%,"2,870",81%,19%,$3.33,"$4,857,000.00",Alabama
1,AL,1003.0,161527.0,Baldwin County,4.117584e+09,1.133129e+09,1589.808,437.504,30.659218,-87.746067,...,37.10%,18.70%,44.20%,16.90%,"7,710",84%,16%,$3.58,"$16,274,000.00",Alabama
2,AL,1005.0,161528.0,Barbour County,2.291821e+09,5.086468e+07,884.877,19.639,31.870253,-85.405104,...,65.10%,10.80%,24.10%,32.00%,"1,740",94%,6%,$3.12,"$2,988,000.00",Alabama
3,AL,1007.0,161529.0,Bibb County,1.612482e+09,9.287974e+06,622.583,3.586,33.015893,-87.127148,...,46.90%,21.20%,31.90%,20.90%,970,100%,0%,$2.94,"$1,690,000.00",Alabama
4,AL,1009.0,161530.0,Blount County,1.670042e+09,1.507746e+07,644.807,5.821,33.977358,-86.566440,...,42.90%,27.90%,29.20%,19.10%,"2,580",100%,0%,$3.14,"$4,149,000.00",Alabama

In [8]:
mmg_county_df["lat"] = ""
mmg_county_df["lng"] = ""

In [9]:
params = {"key": API_key}

In [10]:
 for index, row in mmg_county_df.iterrows():
        url = "https://maps.googleapis.com/maps/api/geocode/json"
        
        county = row['county']
        state = row['state']
        
        # update address to take in key value and make request
        params['address'] = f"{county},{state}"
        
        lat_lng = requests.get(url, params=params)
        
        # check
#         print(lat_lng.url)
        
        #convert to json
        lat_lng = lat_lng.json()
        
        mmg_county_df.loc[index, "lat"] = lat_lng["results"][0]["geometry"]["location"]["lat"]
        mmg_county_df.loc[index, "lng"] = lat_lng["results"][0]["geometry"]["location"]["lng"]
        
mmg_county_df.head()

KeyboardInterrupt:

## Transform Map the Meal Gap Datasets
* Create a new filtered dataframe to only include those columns that are necessary for our analysis and essentially dropping
those that are not needed.

* Rename column headers so they match the column names of our SQL schema. 

* Create function to strip delimiters and convert necessary objects to floats by column as needed.

* Set the index to state name.

In [ ]:
# # create filtered df
# new_mmg_df = mmg_df[['State Name','State','2018 Food Insecurity Rate', '# of Food Insecure Persons in 2018', '2018 Child Food Insecurity Rate','# of Food Insecure Children in 2018','% food insecure Children in HH w/HH Incomes Below 185 FPL in 2016','2018 Cost Per Meal']].copy()
# new_mmg_df.head()

In [ ]:
# # rename column headers
# map_the_meal_df = new_mmg_df.rename(columns={"State Name": "state",
#                                         "State": "abbv",
#                                         "2018 Food Insecurity Rate": "fi_rate_2018",
#                                         "# of Food Insecure Persons in 2018": "fi_count_2018",
#                                         "2018 Child Food Insecurity Rate": "fi_rate_child_2018",
#                                         "# of Food Insecure Children in 2018": "fi_count_child_2018",
#                                         "% food insecure Children in HH w/HH Incomes Below 185 FPL in 2016": "below_povline_rate_2016",
#                                         "2018 Cost Per Meal": "cost_per_meal_2018"})
# map_the_meal_df.tail()

In [ ]:
# # create function to convert necessary objects to floats
# def data_convert(col_names,delimiter,to_type):
#     for col in col_names:
#         map_the_meal_df[col] = map_the_meal_df[col].str.replace(delimiter, "").astype(to_type)

In [ ]:
# # remove % from rate columns and convert to floats
# data_convert(["fi_rate_2018", "fi_rate_child_2018", "below_povline_rate_2016"], "%", "float")
# map_the_meal_df.tail()

In [ ]:
# # remove , from count columns and convert to floats
# data_convert(["fi_count_2018", "fi_count_child_2018"], ",", "float")
# map_the_meal_df.tail()

In [ ]:
# # remove $ from cost column and convert to float
# data_convert(["cost_per_meal_2018"], "$", "float")
# map_the_meal_df.tail()

In [ ]:
# # set index
# map_the_meal_df.set_index("state", inplace=True)

# map_the_meal_df.tail()

## Transform USDA Datasets
* Filter data to only inlcude the needed information & create a new dataframe.

* Refine data so information is presented by state. Create a Groupby function to gather all county information by state.

* Run an aggregate function to determine average poverty rate & median family income per state, & the sum of children
with low-access to food by state.

* Rename column headers to match schema.

* Set the index to the state name.

In [ ]:
# # create filtered df
# new_usda_df = starter_usda_df[['State','PovertyRate', 'MedianFamilyIncome','TractKids']].copy()
# new_usda_df.head()

In [ ]:
# # run agg func to determine avg/sum
# usda_dataframe = new_usda_df.groupby("State").agg({"PovertyRate":"mean","MedianFamilyIncome":"mean", "TractKids":"sum"}).reset_index()
# usda_dataframe.head()

In [ ]:
# # rename column headers
# usda_df = usda_dataframe.rename(columns={"State": "state",
#                                   "PovertyRate": "poverty_rate_2015",
#                                   "MedianFamilyIncome": "med_fam_inc_2015",
#                                   "TractKids": "fi_count_children_2015"})

# usda_df.head()

In [ ]:
# # set index
# usda_df.set_index("state", inplace=True)

# usda_df.tail()

## Create Database Connection

In [ ]:
# connection = f"postgres:{pw}@localhost:5432/ETL_Project"
# engine = create_engine(f'postgresql://{connection}')

In [ ]:
# # Confirm tables
# engine.table_names()

## Load DataFrames into Database

In [ ]:
# map_the_meal_df.to_sql(name='map_the_meal', con=engine, if_exists='append', index=True)

In [ ]:
# usda_df.to_sql(name='usda', con=engine, if_exists='append', index=True)